.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #6b7280;
}

.auth-error-display {
    flex-direction: column;
}

.re-authenticate-button {
    flex-direction: column;
    gap: 12px;
}